/vendor
/.idea
Homestead.json
Homestead.yaml
.phpunit.result.cache
ftpsync.settings
**/logs
**/**/*.sqlite
**/*.sqlite
*.sqlite
WHMAPI.txt
.vscode/sftp.json
/.vscode
/.env
.env
/backup
*.env
.env
ftpsync.settings
database/database.sqlite
**/*.xls
