/vendor
/.idea
Homestead.json
Homestead.yaml
.phpunit.result.cache
ftpsync.settings
/**/logs
/**/*.sqlite
*.sqlite
WHMAPI.txt
.vscode/sftp.json
/.vscode
/backup
.env
ftpsync.settings
database/database.sqlite
/**/*.xls
/public/*.txt
/public/*.json