/vendor
/.idea
Homestead.json
Homestead.yaml
.phpunit.result.cache
ftpsync.settings
/**/logs
WHMAPI.txt
.vscode/sftp.json
/.vscode
/backup
ftpsync.settings
/**/*.xls
/**/*error_log
/**/*.xlsx
/public/*.txt
/public/*.csv
/public/*.json
